/* Colour Scheme
Ivory - #F9F2F0
Marsala - #663635
Rosewater - #E1999F
Dusty Rose - #DEB3AB
Moss - #588068
Deep Green - #1F3B2C
*/

/* Full website CSS */

body {
  background-color: #e1999f;
  color: #663635;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2 {
  font-family: 'Prata', serif;
  text-align: center;
}

/* Title Page */

h1 {
  font-size: 4rem;
}

.title-box {
  background-color: #f9f2f0;
  height: 40vh;
  border-color: #663635;
  border-width: 20pt;
  border-style: solid;
  text-align: center;
  padding-top: 20vh;
  overflow: hidden;
}

/* Welcome Sign */

.welcome {
  font-size: 2.2rem;
  padding-top: 6vh;
  padding-bottom: 20vh;
}

/* Responsiveness for Title and Welcome */

@media (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }

  .title-box {
    height: 40vh;
    border-width: 20pt;
    padding-top: 16vh;
  }

  .welcome {
    font-size: 1.8rem;
    padding-top: 5vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* About Me */

.flexbox {
  display: flex;
  flex-direction: row;
}

.kirsty-photo {
  width: 30vh;
  border-radius: 50%;
  border: #663635;
  border-style: solid;
  border-width: 15px;
}

/* Blog Content */
