/* Colour Scheme
Ivory - #F9F2F0
Marsala - #663635
Rosewater - #E1999F
Dusty Rose - #DEB3AB
Moss - #588068
Deep Green - #1F3B2C
*/

/* Global CSS */

body {
  background-color: #e1999f;
  color: #663635;
}

.blog-background {
  background-color: #f9f2f0;
}

.date {
  font-size: 15px;
}

p,
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2 {
  font-family: 'Prata', serif;
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-bottom: 0%;
}

li {
  font-family: 'Prata', serif;
  font-size: 20px;
  padding-top: 5%;
}

.border {
  background-color: #e1999f;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  border: 5px solid #663635;
  border-radius: 2%;
}

/* Title Page */

h1 {
  font-size: 4rem;
}

.title-box {
  background-color: #f9f2f0;
  height: 40vh;
  border-color: #663635;
  border-width: 20pt;
  border-style: solid;
  border-radius: 1%;
  text-align: center;
  padding-top: 20vh;
  overflow: hidden;
  box-shadow: 10px 10px 80px;
}

/* Welcome Sign */

.welcome {
  font-size: 2.2rem;
  padding-top: 6vh;
  padding-bottom: 15vh;
}

/* Responsiveness for Title and Welcome */

@media (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }

  .title-box {
    height: 40vh;
    border-width: 20pt;
    padding-top: 16vh;
  }

  .welcome {
    font-size: 1.8rem;
    padding-top: 5vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* About Me */

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 5%;
}

.kirsty-photo {
  width: 30vh;
  border-radius: 50%;
  border: #663635;
  border-style: solid;
  border-width: 15px;
  margin-bottom: 5%;
}

/* Blog Content */

.blog {
  margin-top: 15vh;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin: 10%;
  justify-items: center;
  align-items: center;
}

.blog-container > div {
  width: 100px;
  height: 100px;
  background-color: #f9f2f0;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container > div:hover {
  color: #e1999f;
  background-color: #663635;
}

.blog-container a:hover {
  color: #f9f2f0;
}

.blog-container a {
  text-decoration: none;
  color: #663635;
  font-family: 'Prata', serif;
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  width: 100px;
  padding: 30px 20px;
  border-radius: 20%;
}

/* Responsiveness of Blog Grid */

@media (max-width: 600px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Footer */

footer {
  text-align: center;
  border-top: 5px dashed #663635;
  padding: 30px;
  margin-top: 30%;
  font-family: 'Prata', serif;
}

/* Technical Blog CSS */

.block {
  display: block;
  margin: 10%;
  padding: 2%;
  width: 15vw;
  height: 15vh;

  color: #1f3b2c;
  outline: 2px solid #1f3b2c;
  background-color: #f9f2f0;
}

.inline {
  display: inline;
  margin: 10%;
  padding: 2%;
  width: 25%;
  height: 20vh;

  color: #1f3b2c;
  outline: 2px solid #1f3b2c;
  background-color: #f9f2f0;
}

.inline-block {
  display: inline-block;
  margin: 10%;
  padding: 2%;
  width: 15vw;
  height: 15vh;

  color: #1f3b2c;
  outline: 2px solid #1f3b2c;
  background-color: #f9f2f0;
}

.blog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 3%;
}

.css-example {
  border: 10px solid #663635;
  border-radius: 5%;
  background-color: #e1999f;
  margin-left: 5%;
  margin-right: 5%;
}
